.header {
  align-items: center;
  background-color: white;
  border: white;
  border-radius: 30px;
  color: black;
  display: flex;
  font-size: larger;
  justify-content: space-evenly;
  margin: auto;
  width: 30%;
}

.photo {
  border-radius: 30px;
}

.logo-game {
  background-color: white;
  border-radius: 4px;
  bottom: 2%;
  box-shadow: 0 0 20px 5px #0087c6 , inset 0 0 20px 20px rgb(170 144 190);
  display: flex;
  left: 45%;
  margin: auto;
  position: absolute;
}
