body {
  background-image: linear-gradient(to right top, #d16ba5, #41f2ff, #00bafc, #0085c3);
  height: 100vh;
}

label {
  color: black;
  font-size: larger;
  font-weight: 700;
  padding: 3%;
}

.bodyLog {
  align-content: center;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.862);
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 8px -8px 20px 10px rgb(156 157 199) , -8px 8px 20px 10px rgb(0 165 229);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  left: 40%;
  padding: 5px;
  padding-left: 20px;
  position: absolute;
  text-align: left;
  top: 27%;
  width: 370px;
}

input {
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 5px;
}

.button {
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  margin-bottom: 15px;
  padding: 5px;
  transition-duration: 0.4s;
  width: 80px;
}

.button:hover {
  background-color: rgb(178, 153, 220);
  color: white;
}

